@model IEnumerable<TrainReservationSystem.Models.BookingHistory>

@if (TempData["Message"] != null)
{
    <script>alert('@TempData["Message"]')</script>
}

@{
    ViewData["Title"] = "BookedTicketHistory";
}


<form method="post" action="~/Account/PNRViewAccount" class="my-4">
    <div class="form-group">
        <label for="pnr">Enter PNR number:</label>
        <div class="input-group">
            <input type="text" id="pnr" name="pnr" class="form-control">
            <div class="input-group-append">
                <button type="submit" class="btn btn-primary">Check</button>
            </div>
        </div>
    </div>
</form>

<h1>BookedTicketHistory</h1>

<table class="table">
@*    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PNR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ticketCount)
            </th>
            <th></th>
        </tr>
    </thead>*@
    <tbody>
        @foreach (var item in Model)
        {
            <div class="card my-3">
                <div class="card-body">
                    <h5 class="card-title">PNR Number: @Html.DisplayFor(modelItem => item.PNR)</h5>
                    <p class="card-text">Booking Date: @Html.DisplayFor(modelItem => item.BookingDate)</p>
                    <p class="card-text">Ticket Count: @Html.DisplayFor(modelItem => item.ticketCount)</p>
                    <form method="post" action="@Url.Action("CancelTicket", new { id = item.Id })">
                        <input type="hidden" name="pnr" value="@item.PNR" />
                        <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to cancel this ticket?')">Cancel Ticket</button>
                    </form>
                </div>
            </div>
        }
    </tbody>
</table>
