@model IEnumerable<TrainReservationSystem.Models.TrainDetails>

@if (TempData["TicketCountG6"] != null)
{
    <div class="alert alert-success" role="alert">@TempData["TicketCountG6"]</div>
}
@if (TempData["Success"] != null)
{
    <script>alert('@TempData["Success"]')</script>
}
@{
    ViewData["Title"] = "Welcome";
}

<h1>Welcome</h1>


<div class="row">
    <div class="col-md-6">
        @using (Html.BeginForm("Welcome", "Account", FormMethod.Get))
        {
            <div class="form-group">
                <b>Search By:</b>
                <br />
                @Html.RadioButton("searchBy", "TrainId", true) <text>Train Id</text>
                @Html.RadioButton("searchBy", "Origin") <text>Origin</text>
                @Html.RadioButton("searchBy", "Destination") <text>Destination</text>
            </div>
            <div class="form-group">
                @Html.TextBox("search", null, new { @class = "form-control", placeholder = "Enter Search Term" })
            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        }
    </div>
    <div class="col-md-6">
        @using (Html.BeginForm("Welcome", "Account", FormMethod.Get))
        {
            <div class="form-group">
                <b>Search By:</b>
                <br />
                @Html.RadioButton("searchBy", "OriginDestination", true) <text>Origin and Destination</text>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <b>Origin:</b> @Html.TextBox("origin", null, new { @class = "form-control", placeholder = "Enter Origin" })
                    </div>
                    <div class="col-md-6">
                        <b>Destination:</b> @Html.TextBox("destination", null, new { @class = "form-control", placeholder = "Enter Destination" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        }
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TrainName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrainId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Origin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Arrival)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeatCapacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeatRate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TrainName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrainId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Origin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departure)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Arrival)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeatCapacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeatRate)
            </td>
            <td>
                <a asp-action="BookTicket" asp-route-id="@item.Id">Book</a> 
            </td>
        </tr>
}
    </tbody>
</table>
